.venv
*.swp
*.pyc
__pycache__
build/swisstopoBatchNmerge/Analysis-00.toc
build/swisstopoBatchNmerge/base_library.zip
build/swisstopoBatchNmerge/EXE-00.toc
build/swisstopoBatchNmerge/localpycos/struct.pyo
build/swisstopoBatchNmerge/PKG-00.toc
build/swisstopoBatchNmerge/PYZ-00.pyz
build/swisstopoBatchNmerge/PYZ-00.toc
build/swisstopoBatchNmerge/swisstopoBatchNmerge.pkg
swisstopoBatchNmerge.spec
build/swisstopoBatchNmerge/swisstopoBatchNmerge.exe.manifest
build/swisstopoBatchNmerge/Tree-00.toc
build/swisstopoBatchNmerge/Tree-01.toc
build/swisstopoBatchNmerge/Tree-02.toc
build/swisstopoBatchNmerge/warn-swisstopoBatchNmerge.txt
build/swisstopoBatchNmerge/xref-swisstopoBatchNmerge.html
